.header__container {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__page_website_name {
  font-size: var(--fs-heading-m);
  font-weight: 700;
  display: inline-block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease;
}

@media only screen and (max-width: 450px) {
  .header__container {
    margin-top: 24px;
  }
}
