.header__sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 280px;
  height: 100vh;
  background-color: var(--background-clr, #fff);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 400ms;
}

.header__sidebar.open {
  left: 0;
  transform: translateX(0);
  z-index: 1001;
}

.header__sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__sidebar nav ul li {
  margin-bottom: 20px;
}

.header__sidebar nav ul li a {
  font-size: var(--fs-heading-m);
  font-weight: 600;
  color: var(--purple);
  text-decoration: none;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.header__sidebar nav ul li a:hover {
  background-color: var(--yellow);
  color: var(--blue);
}

.sidebar__close-btn {
  position: absolute;
  top: 50%;
  right: 0px; /*half of button width to protrude */
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border: none;
  background-color: var(--purple);
  color: white;
  cursor: pointer;

  /* Create half-circle: left half of a circle */
  border-radius: 50% 0 0 50%;
  /*         top-left  top-right  bottom-right bottom-left */

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s;
  z-index: 1001;
}

.sidebar__close-btn:hover {
  background-color: var(--purple);
}
