.word__sub-categories-row {
  display: flex;
  flex-wrap: wrap; /* optional, allows wrapping on small screens */
  gap: 1rem; /* optional, space between items */
  align-items: center;
}

.sub-categories-btn {
  padding: 8px;
  border: none;
  color: var(--blue);
  cursor: pointer;

  /* Create half-circle: left half of a circle */
  border-radius: 4px;
  /*         top-left  top-right  bottom-right bottom-left */

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s;
}

.sub-categories-btn:hover {
  background-color: #a471df;
}
